---
layout: null
permalink: "/feed.xml"
sitemap:
  exclude: yes
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ site.rss.title }}</title>
  <link href="{{ page.url | prepend: site.url }}" rel="self"/>
  <link href="{{ site.url }}"/>
  <updated>{{ collections.post | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ site.url }}/</id>
  <author>
    <name>{{site.author.name}}</name>
    <email>{{site.author.email}}</email>
  </author>
  {%- for post in collections.post reversed %}
  {% capture absolutePostUrl %}{{ post.url | absoluteUrl: site.url }}{% endcapture %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ absolutePostUrl }}"/>
    <published>{{ post.date | dateToRfc3339 }}</published>
    {% if post.data.updatedDate %}
    <updated>{{ post.data.updatedDate | dateToRfc3339 }}</updated>
    {% else %}
    <updated>{{ post.date | dateToRfc3339 }}</updated>
    {% endif %}
    <id>{{ absolutePostUrl }}</id>
    <author>
      <name>{{site.author.name}}</name>
    </author>
    <content type="html">{{ post.templateContent | convertHtmlToAbsoluteUrls: absolutePostUrl | xmlEscape }}</content>
  </entry>
  {%- endfor %}  
</feed>
