<section class="grid grid-cols-1 not-prose py-8">
{%- for article in collection reversed -%}

<article class="my-4 w-full {{theme.article.text.content}} pb-4 grid grid-cols-1 md:grid-cols-4">
    <div class="w-full col-span-1">
        <div>
        {% if article.data.headerImage %}
            <a href="{{article.url}}" title="{{article.data.title}}" alt="{{article.data.title}}" class="block pb-4 {{theme.article.image.hover}}">
                {% image article.data.headerImage article.data.title "rounded-md shadow-md w-full" %}
            </a>
        {% elsif article.data.gameImage %}
            <img src="{{article.data.gameImage}}" class="rounded-md shadow-md w-full" alt="{{article.data.title}}">
        {% endif %}
        </div>
        {%- if article.data.icons -%}
        <div class="{{theme.article.icons.main}} space-x-8 text-4xl flex justify-center justify-items-center py-4">
            {%- for icon in article.data.icons -%}
                {{icon}}
            {%- endfor -%}
        </div>
        {%- endif -%}
    </div>
    <div class="col-span-1 md:col-span-3 px-0 md:px-4">
        <div>
        {% if article.url %}
            <a href="{{article.url}}" class="w-full">
                <h2 class="text-xl md:text-2xl {{theme.article.text.title}} {{theme.article.text.hover}} pb-1">{{ article.data.title }}</h2>
            </a>
        {% else %}
            <h2 class="text-xl md:text-3xl {{theme.article.text.title}} pb-1">{{ article.data.title }}</h2>
        {% endif %}
        {% if article.data.subtitle %}
        <h3 class="text-lg md:text-xl pb-4">
            {{article.data.subtitle}}
        </h3>
        {% endif %}
        </div>

        {% if article.data.description %}
            <div class="font-normal text-xl md:text-2xl">
                {{article.data.description | markdownify}}
            </div>
        {% endif %}
    </div>
</article>

{%- endfor -%}
</section>
