<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ feedTitle }}</title>
  <link href="{{ pageUrl | prepend: siteUrl }}" rel="self"/>
  <link href="{{ siteUrl }}"/>
  <updated>{{ collection | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ siteUrl }}/</id>
  <author>
    <name>{{siteAuthor.name}}</name>
    <email>{{siteAuthor.email}}</email>
  </author>
  {%- for post in collection reversed %}
  {% capture absolutePostUrl %}{{ post.url | absoluteUrl: siteUrl }}{% endcapture %}
  <entry>
    {% if post.data.tags contains "note" %}
    {% assign noteDate = post.date | date: "%Y-%m-%d %H:%M" %}
    <title>{{ post.data.title | default: "📝 Note - " | append: noteDate }}</title>
    {% else %}
    <title>{{ post.data.title }}</title>
    {% endif %}
    <link href="{{ absolutePostUrl }}"/>
    <published>{{ post.date | dateToRfc3339 }}</published>
    {% if post.data.updatedDate %}
    <updated>{{ post.data.updatedDate | dateToRfc3339 }}</updated>
    {% else %}
    <updated>{{ post.date | dateToRfc3339 }}</updated>
    {% endif %}
    <id>{{ absolutePostUrl }}</id>
    <author>
      <name>{{siteAuthor.name}}</name>
    </author>
    <content type="html">{{ post.templateContent | convertHtmlToAbsoluteUrls: absolutePostUrl | xmlEscape }}</content>
    {% for category in post.data.categories %}
      <category term="{{category}}" label="{{category}}" />
    {% endfor %}
  </entry>
  {%- endfor %}  
</feed>
