<div class="flex flex-row flex-wrap items-start w-full text-base">
{% for book in bookshelf %}
<article class="w-full sm:w-1/2 text-center border-2 border-red-500 flex flex-row justify-center">
    <a href="{{book.book.link}}" target="_blank" rel="noreferrer">
        <img class="shadow-lg" src="{{book.book.image_url}}" title="{{book.book.title}}" alt="{{book.book.title}}" />
        <div class="space-y-0">
            <h2 class="text-gray-900">{{book.book.title}}</h2>
            <h3 class="text-gray-600">By {{book.book.authors.author.name}}</h3>
            <div class="text-yellow-400">{{book.rating | starRating}}</div>
        </div>
    </a>
</article>
{% endfor %}
</div>