<div class="flex flex-row flex-wrap w-full text-base space-y-8">
{% for book in bookshelf %}
<article class="w-full flex flex-col sm:flex-row justify-center items-center space-x-2 px-8">
    <div class="w-full sm:w-1/6 flex justify-center">
        <a href="{{book.link}}" target="_blank" rel="noreferrer">
            <img class="shadow-lg w-24 my-0" src="{{book.imageUrl}}" title="{{book.title}}" alt="{{book.title}}" />
        </a>
    </div>
    <div class="w-full sm:w-5/6 space-y-0 overflow-hidden">
        <a href="{{book.link}}" target="_blank" rel="noreferrer" class="overflow-hidden">
            <h3 class="text-gray-900 prose-sm overflow-ellipsis overflow-hidden">{{book.title}}</h3>
        </a>
        <p class="text-lg font-medium text-gray-600">By {{book.authorName}}</p>
        <div class="text-yellow-400 text-2xl py-4">{{book.rating | starRating}}</div>
    </div>
</article>
{% endfor %}
</div>
