<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="en">
  <title type="text">{{ feedTitle }}: Notes</title>
  <subtitle>A collection of notes from {{siteUrl}}</subtitle>
  <link href="{{ pageUrl | prepend: siteUrl }}" rel="self"/>
  <link href="{{ siteUrl }}"/>
  <updated>{{ notes[0].date }}</updated>
  <id>{{ siteUrl }}/</id>
  <generator uri="https://www.11ty.dev/">{{ eleventy.generator }}</generator>
  <author>
    <name>{{siteAuthor.name}}</name>
    <email>{{siteAuthor.email}}</email>
  </author>
  <category term="note"/>
  {%- for note in notes %}
  <entry>
    {% capture absolutePostUrl %}{{ note.slug | prepend: "/notes/" | absoluteUrl: siteUrl }}{% endcapture %}
    <title>{{ note.excerpt }}</title>
    <link href="{{ absolutePostUrl }}" rel="alternate"/>
    <published>{{ note.date }}</published>
    <updated>{{ note.date }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <author>
      <name>{{siteAuthor.name}}</name>
    </author>
    <summary>{{ note.excerpt }}</summary>
    <content type="text">{{ note.content | xmlEscape }}</content>
    <category term="note"/>
  </entry>
  {%- endfor %}  
</feed>
